
.about-section{
    h2{
        font-size: 13px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading p{
        font-family: $heading-font;
        font-size: 48px;
    }
    .about-content{
        display: flex;
        gap: 5vw;
        .left-side{
            width: 60vw;
            img{
                // width: 50vw;
                width: 100%
            }
            .call-info{
                border-color: #646668 !important;
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            
        }
        .right-side{
            width: 40vw;
            img{
                max-width: 100%;
            }
        }
        .about-list li{
            padding: 0 0 10px 20px;
            text-indent: -10px;
            .bi{
                color: #ce1212;
                margin-right: 10px;
            }
            
        }
        // .about-list li:before{
            // content:"hh";
        //     display: inline-block;
        //     margin-right: 10px;
        //     background: url('../../../../public/images/check.svg') no-repeat;
        //     background-size: contain;
        //     height: 20px ;
        //     width: 20px ;
            // position: relative;
            // top: 5px;

        // }
    }
    
}