@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

@font-face {
    font-family: amantic;
    src: url('../../../../public/Fonts/Amatic_SC/AmaticSC-Bold.ttf');
}
$heading-font: amantic;
$defualt-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$nav-color: #7f7f90;
$nav-hover-color: #ce1212;
$light-background-color: #f2f2f2;
$dark-gray: #37373f;
$cold-gray: #909294;
$white-color: white;


$mycolors: ("nav-color": $nav-color, "nav-hover-color": $nav-hover-color, "light-background-color": $light-background-color, "dark-gray": $dark-gray, "cold-gray": $cold-gray, "white-color": $white-color);

$theme-colors: map-merge($mycolors, $theme-colors);


$spacer: 1vh;
$spacers: (0: 0);
@for $i from 1 to 100
    {$spacers: map-merge($spacers, ($i: $i * $spacer));}